<a id="skip-to-main-content" class="visually-hidden-focusable" href="#main-content">
  {{ 'portalPage.header.skipToMain' | transloco }}
</a>
<nav class="container-fluid d-flex justify-content-between align-items-center pt-3">
  <div>
    <img routerLink="/" src="assets/images/logo.png" class="logo"
         [alt]="'portalPage.header.logo.alt' | transloco">
    <h1 class="visually-hidden">
      {{ 'portalPage.header.pageName' | transloco }}
    </h1>
  </div>

  <div class="d-flex align-items-centers">
    <div class="me-3">

      <app-language-select [defaultLanguage]="'en'"></app-language-select>

      <!-- <ng-select [attr.aria-label]="'portalPage.i18n.languageSelector' | transloco"
                 class="language-select" appearance="outline"
                 data-cy="language-switcher"
                 [(ngModel)]="selectedLanguageId"
                 (change)="changeLanguage($event)"
                 [items]="flags"
                 [searchable]="true"
                 [clearable]="false"
                 bindValue="value"
                 bindLabel="label">
      </ng-select> -->
    </div>

    <div class="btn-group" dropdown placement="bottom right">

      <button id="main-menu-button" dropdownToggle type="button"
              data-cy="mainMenu"
              class="btn btn-outline-primary main-menu-button dropdown-toggle"
              aria-controls="dropdown-animated">
        Main menu <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
          role="menu" aria-labelledby="main-menu-button">
        <li role="menuitem"><a class="dropdown-item"><strong
          data-cy="loggedInUsername">{{ user?.username }}</strong></a></li>

        <li role="menuitem"><a class="dropdown-item" href="#">To the funeral home page</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Donation to other deaths</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">About portal</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Terms</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Privacy policy</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Cookie policy</a></li>
        <li role="menuitem">
          <a class="dropdown-item" routerLink="/custom-admin">
            Custom admin
          </a>
        </li>

        <ng-container *ngIf="isLoggedIn$ | async">
          <li role="menuitem"><a class="dropdown-item" routerLink="/admin">Setting theme</a></li>
          <li role="menuitem"><a class="dropdown-item" data-cy="actionAfterLogin">Another action</a></li>
        </ng-container>

        <li role="menuitem">
          <button class="dropdown-item" (click)="login()" *ngIf="!(isLoggedIn$ | async)"
                  data-cy=administratorLogin
          >
            <i class="bi bi-box-arrow-in-right"></i>
            Administrator Login
          </button>

          <button class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn$ | async">
            <i class="bi bi-lock"></i> <span data-cy="logout">Logout</span>
          </button>
        </li>
      </ul>
    </div>


  </div>
</nav>
<div id="main-content"></div>
