<ng-container *ngIf="users && users.length > 0">

  <div class="card-container mb-3" *ngFor="let user of users | slice: 0 : displayNumber">
    <div class="user-information">
      <p class="mb-0 user-information-name">
        {{ user.firstName }} {{ user.lastName }}
      </p>
      <p class="user-information-place">
        {{ user.birthdate | date:"YYYY" }}
        {{ user.deathdate | date:"dd.mm.YYYY" }}
        | {{ user.deathCity }}
      </p>
    </div>
    <div class="user-image"
         [ngStyle]="{'background-image': 'url(' + user.photoUrl + ')'}">
    </div>
  </div>

</ng-container>
