@import '~@angular/material/theming';
@include mat-core();
@import './adstate-palettes';

$adstate-palette-warn: mat-palette($mat-red);

$adstate-classic-theme: mat-light-theme((
  color: (
    primary: $adstate-palette-primary,
    accent: $adstate-palette-accent,
    warn: $adstate-palette-warn,  
  )
));

@include angular-material-theme($adstate-classic-theme);