.column {
  width: 35px;
  margin-bottom: 5px;
  margin-top: 38px;

  .col1 {
    background: #AAAAAA;
    height: 60px;
    margin-top: 7px;
  }

  .col2 {
    background: #AAAAAA;
    height: 90px;
    margin-top: 7px;
  }

  .col3 {
    background: #AAAAAA;
    height: 70px;
    margin-top: 7px;
  }

  .col4 {
    background: #AAAAAA;
    height: 100px;
    margin-top: 7px;
  }

}
