.custom-panel {
  margin-bottom: 5rem;
}

.save-settings {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 2rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1rem);
}

.others {
  position: relative;
  background: white;
}
