.items {
  padding: 3px 0;
  border-bottom: 1px solid #666666;

  &.first-item {
    border-top: 1px solid #666666;
    margin-top: 38px;
  }
}

.item {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #666666;
}
